<!DOCTYPE html>
<html>
  <head>
    <title>CrimeTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Hi <%= current_user.first_name %></a>
        <form class="form-inline">
          <%= link_to "Search", "/user/search", role: "button", class: "btn btn-outline-success" %>
          <div style="padding-left: 10px;">
            <%= link_to "Compare", "/user/compare", role: "button", class: "btn btn-outline-primary" unless compare_path? %>
          </div>
          <div style="padding-left: 10px;">
            <%= link_to "Leave", "/logout", method: :delete, role: "button", class: "btn btn-outline-danger" %>
          </div>
        </form>
      </nav>
    <% end %>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <p id="js-flash"></p>

    <%= yield %>
  </body>
</html>
